
.text-container {
  display: flex;
  height: 20vh;
  margin: 0 auto;
  width: 80%;
  padding: 2% 0;
  justify-content: space-between;
}
h2{
  width: 30%;
  text-align:left;
  flex-direction: column;
  font-size: 14px;
  font-family:"Circular-Book";
  text-transform: uppercase;
  }
h3{
  text-align:left;
  align-items: baseline;
  font-size: 12px;
  font-family:"Circular-Medium";
}
.dos{
  flex-direction: column;
  line-height: 60%;
  }
  .flechayback{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .back{
    margin-left: 15%;
  }
  .about{
    font-size: 10px;
    font-family: "Circular-Book"
  }
  
  .tamararomero{
    flex-grow: initial;
    text-align:left;
  }
 
.image_projects{
    width: 100%;
    display: flex;
    justify-content: center;

}
.projects_mine{
  width: 50%;
   
}
.video{
    text-align: center;
}

.contenedor_gif_mine{
    width: 100%;
    display: flex;
    justify-content: center;
}


.text-container{
    display: flex;
    height: 20vh;
    margin: 0 auto;
    width: 80%;
    padding: 2% 0;
    justify-content: space-between
    
  }
  h2{
    width: 30%;
    text-align:left;
    flex-direction: column;
    font-size: 14px;
    font-family:"Circular-Book";
    text-transform: uppercase;
    }
  h3{
    text-align:left;
    align-items: baseline;
    font-size: 12px;
    font-family:"Circular-Medium";
  }
  .dos{
    flex-direction: column;
    line-height: 80% 
  }
  
